<form [formGroup]="myForm" (ngSubmit)="submit()">
    <div>
        <label for="name">Name</label>
        <input formControlName="name" id="name" type="text">    
    </div>
    <div>
        <label for="description">Description</label>
        <input formControlName="description" id="description" type="text">
    </div>
    
    <div *ngIf="relations | async as rel">
        <div *ngFor="let r of rel">
            <select *ngIf="r.samples as sl" formControlName="samples">
                <option [ngValue]="null"  disabled>Choose your samples</option>
                <option *ngFor="let s of sl" [ngValue]="s">{{s.name}}</option>
            </select>
    
            <select *ngIf="r.galleries as gl" formControlName="galleries">
                <option [ngValue]="null"  disabled>Choose your galleries</option>
                <option *ngFor="let g of gl" [ngValue]="g">{{g.name}}</option>
            </select>
    
            <select *ngIf="r.whitelists as wl" formControlName="whitelists">
                <option [ngValue]="null"  disabled>Choose your whitelists</option>
                <option *ngFor="let w of wl" [ngValue]="w">{{w.name}}</option>
            </select>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>