<div *ngIf="items | async as itemList">
    <button 
        *ngFor="let item of itemList"
        (click)="onDetailChange(item)"
    >{{item.name}}</button>
</div>


<div>
    <button (click)="create()">+</button>
</div>

<app-simple-detail
    [item]="detail"
></app-simple-detail>

<ng-template #elseDetail>loading..</ng-template>

<app-simple-create
    *ngIf="toCreate"
    [endpoint]="endpoint"
    [formTemplate]="formTemplate"
    [relationLookup]="relationLookup"
    [next]="next"

    (itemCreated)="onItemCreated($event)"
></app-simple-create>
